<!-- Этапы работы -->
<section class="home2-process particles-js" data-color="#fe4c1c,#00c3ff,#0160e7" data-id="i2-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center m-b35">
                            <div class="ot-heading">
                                <h6><span>Формы партнерства</span></h6>
                                <h2 class="main-heading">Maecenas at pellentesque massa,<br> vulputate consectetur est.</h2>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 text-center">
                            <div class="ot-cprocess">

                                {% for partner in partner_formstg %}
                                    <div class="ot-cprocess-item clearfix repeater-item-{{ partner.order }}
                                    {% if partner.order == 1 %} text-right {% elif partner.order == 2 %} text-center {% elif partner.order == 3 %} text-left
                                    {% endif %}">

                                        <a href="{{ partner.get_absolute_url }}" title="Узнать подробнее"><div class="ot-cprocess-item-number font-second">0{{ partner.order }}</div></a>
                                        <div class="ot-cprocess-item-inner">
                                            <div class="ot-cprocess-item-dot"></div>
                                            <a href="{{ partner.get_absolute_url }}" title="Узнать подробнее" class="default-hover">
                                                <div class="ot-cprocess-item-title font-second default-hover">{{ partner.title }}</div>
                                            </a>
                                            <div class="ot-cprocess-item-desc font-main">
                                                <p>{% autoescape off %} {{ partner.short_description }} {% endautoescape %}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="circle_logo">
                                    <img src="images/4.png" alt="">
                                </div>
                                <svg class="ot-cprocess-circle-chart" height="500" width="500">
                                    <circle cx="250" cy="250" r="225" stroke="url(#gradient)" stroke-width="50" fill="none"></circle>
                                    <linearGradient id="gradient" gradientTransform="rotate(45)">
                                        <stop offset="0%" stop-color="#015be6"></stop>
                                        <stop offset="100%" stop-color="#03baee"></stop>
                                    </linearGradient>
                                </svg>
                            </div>
                            <div class="services-content-marketing">
                                {% for partner in partner_formstg %}
                                <div class="process-box">
                                    <a href="{{ partner.get_absolute_url }}" title="Узнать подробнее" class="default-hover">
                                        <div class="number-box">0{{ partner.order }}</div>
                                    </a>
                                    <div class="icon-main"></div>
                                    <div class="content-box">
                                        <a href="{{ partner.get_absolute_url }}" title="Узнать подробнее" class="default-hover">
                                            <h5>{{ partner.title }}</h5>
                                        </a>
                                        <p>{% autoescape off %} {{ partner.short_description }} {% endautoescape %}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </section>