{% extends 'home/base_home.html' %}

{% block title %}
    Test | {{ block.super }}
{% endblock %}

{% block content %}
<div id="app111">
    <ul>
        <li v-for="(post, index) in posts" :key="index">
            {{ post }}
        </li>
    </ul>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app111',
        data: {
            posts: null
        },
        mounted() {
            axios
                .get('http://127.0.0.1:8000/vue/')
                //.get('https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5')
                .then(response => this.posts = response.data)
        }
    })
</script>

{% endblock %}
